@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body {
    font-family: 'Titillium Web', sans-serif;
    background: url("images/fragmag.jpg") no-repeat;
    background-size: cover;
    /*background: #222222;*/
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.articles {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.pic {
    background: white;
    height: 100px;
    padding: 3px;
}

.article {
    background: white;
    max-width: 40%;
    max-height: 15%;
    display: inline-block;
    box-shadow: 0px 2px 5px #444444;
}

.article div {
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.article .meta {
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.others {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
}

.article img {
    background: white;
    height: 14.5vh;
}

.left {
    margin-right: 53%;
    margin-left: auto;
    text-align: right;
}

.right {
    margin-left: 53%;
    margin-right: auto;
    text-align: left;
}

.article.right .img {
    float: right;
}

.article.left .img {
    float: left;
}

.slide {
    position: relative;
}

.os-phrases h2 {
    font-family: 'Dosis', 'Lato', sans-serif;
    font-size: 70px;
    font-weight: 200;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 14px;
    text-align: center;
}

.os-phrases h2,
.os-phrases h2 > span {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.prompt {
    position: absolute;
    top: 80%;
    left: 50%;
    opacity: 0;
    color: white;
    transform: translate(-50%, 0%);
}

.os-phrases h2 > span {
    margin: 0 15px;
}

.os-phrases h2 > span > span {
    display: inline-block;
    perspective: 1000px;
    transform-origin: 50% 50%;
}

@keyframes OpeningSequence {
    0% {
        text-shadow: 0 0 50px #fff;
        letter-spacing: 80px;
        opacity: 0.2;
        transform: rotateY(-90deg);
    }
    50% {
        text-shadow: 0 0 1px #fff;
        letter-spacing: 14px;
        opacity: 0.8;
        transform: rotateY(0deg);
    }
    85% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        transform: rotateY(0deg) translateZ(100px);
    }
    100% {
        text-shadow: 0 0 10px #fff;
        opacity: 0;
        transform: translateZ(130px);
        pointer-events: none;
    }
}

@keyframes OpeningSequence2 {
    0% {
        text-shadow: 0 0 50px #fff;
        letter-spacing: 80px;
        opacity: 0.2;
        transform: rotateY(-90deg);
    }
    50% {
        text-shadow: 0 0 1px #fff;
        letter-spacing: 14px;
        opacity: 0.7;
        transform: rotateY(0deg);
    }
    100% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        transform: rotateY(0deg);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        opacity: 1.0;
        transform: translate(-50%, 0%) translateY(0);
    }
    40% {
        opacity: 0.3;
        transform: translate(-50%, 0%) translateY(-30px);
    }
    60% {
        opacity: 0.5;
        transform: translate(-50%, 0%) translateY(-15px);
    }
}

.os-phrases h2 > span > span > span {
    display: inline-block;
    color: hsla(0, 0%, 0%, 0);
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    animation: OpeningSequence 3s linear forwards;
}

.os-phrases h2:nth-child(2) > span > span > span {
    animation-delay: 4s;
}

.os-phrases h2:nth-child(3) > span > span > span {
    font-size: 150px;
    animation: OpeningSequence2 5.2s linear 8s forwards;
}

.prompt {
    animation: bounce 3s linear 10s infinite;
}

.spl {
    width:85%;
    margin: auto;
    max-height: 100vh;
    overflow-y: scroll;
}

.spl .coll2 {
    background: transparent;
    box-shadow: none;
}

.spl .intro-header-image img{
    height: 70vh;
    border: solid black 2px;
    float: left;
    margin-right: 2em;
}

.spl .intro-name {
    font-size: 2em;
    border-bottom: dotted black 1px;
}

.main {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 60%;
    overflow: hidden;
    color: white;
}

.main .title {
    position: absolute;
    font-family: 'Dosis', 'Lato', sans-serif;
    font-size: 2em;
    bottom: 5%;
    left: 5%;
}

.interesting {
    margin: 2%;
}

@font-face {
    font-family: kruti-021;
    src: url(fonts/ufonts.com_kruti-dev-021.ttf);
}

@font-face {
    font-family: kruti-692;
    src: url(fonts/Kruti%20Dev%20692%20Normal.ttf);
}

.devnagiri {
    font-family: kruti-021;
    margin: 5px;
    font-size: 14pt;
}

.devnagiri-title {
    font-family: kruti-692;
    -webkit-column-span: all;
    column-span: all;
    text-align: center;
    font-size: 18pt;
    color: darkslategray;
}

.english-title {
    font-family: 'Titillium Web', sans-serif;
    -webkit-column-span: all;
    column-span: all;
    text-align: center;
    font-size: 18pt;
    color: darkslategray;
}

.interviewee {
    font-family: 'Titillium Web', sans-serif;
    -webkit-column-span: all;
    column-span: all;
    text-align: center;
    font-size: 18pt;
    color: cadetblue;
}

.marathi {
    background: url("images/Marathi2.png") no-repeat;
    background-size: cover;
}

.english {
    background: url("images/English2.png") no-repeat;
    background-size: cover;
    font-family: 'Dosis', 'Lato', sans-serif;
}

.hindi {
    background: url("images/Hindi2.png") no-repeat;
    background-size: cover;
}

.tech {
    background: url("images/Technical.png") no-repeat;
    background-size: cover;
}

.marathi-author {
    color: #FF8000;
}

.english-author {
    color: firebrick;
}

.hindi-author {
    color: green;
}

.tech-author {
    color: darkblue;
}

@media (min-width: 500px) {
    .acheivements, .hall2{
        padding: 2% 5%;
        -webkit-columns: 40vw 2;
        -moz-columns: 40vw 2;
        columns: 40vw 2;
        column-gap: 5vw;
        -webkit-column-gap: 5vw;
        -moz-column-gap: 5vw;
    }
    .dummy{
        height: 65vh;
    }
    .hall{
        padding: 2% 5%;
        -webkit-columns: 15vw 1;
        -moz-columns: 15vw 1;
        columns: 15vw 1;
        column-gap: 5vw;
        -webkit-column-gap: 5vw;
        -moz-column-gap: 5vw;

    }
    .coll {
        background: rgba(255, 255, 255, 0.7);
        padding: 2% 40vw;
        /* max-height: 80vh;
         max-width: 90vw;*/
        -webkit-columns: 60vw 1;
        -moz-columns: 60vw 1;
        columns: 60vw 1;
        box-shadow: 0px 2px 5px #444444;
    }

    .coll2 {
        background: rgba(255, 255, 255, 0.7);
        padding: 2% 5%;
        /*height: 80vh;
        width: 90vw;*/
        -webkit-columns: 300px 2;
        -moz-columns: 300px 2;
        columns: 300px 2;
        column-gap: 5vw;
        -webkit-column-gap: 5vw;
        -moz-column-gap: 5vw;
        box-shadow: 0px 2px 5px #444444;
    }

    .coll3 {
        background: rgba(255, 255, 255, 0.7);
        padding: 2% 5%;
        /*  max-height: 80vh;
          max-width: 90vw;*/
        -webkit-columns: 200px 3;
        -moz-columns: 200px 3;
        columns: 200px 3;
        column-gap: 4vw;
        -webkit-column-gap: 4vw;
        -moz-column-gap: 4vw;
        box-shadow: 0px 2px 5px #444444;
    }
}

@media (max-width: 500px) {
    .article {
        background: white;
        max-width: 90%;
        padding: 1%;
        display: inline-block;
        box-shadow: 0px 2px 5px #444444;
    }

    .line {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(-50%, -50%);
        height: 100%;
    }

    .left {
        margin-left: 5%;
        margin-right: auto;
        text-align: left;
    }

    .right {
        margin-left: 5%;
        margin-right: auto;
        text-align: left;
    }

    .acheivements, .hall {
        overflow: scroll;
        max-width: 100vw;
        max-height: 95vh;
    }

    .dummy {
        visibility: hidden;
    }

    .os-phrases h2 {
        font-family: 'Dosis', 'Lato', sans-serif;
        font-size: 10vw;
        font-weight: 200;
        height: 100%;
        width: 100%;
        overflow: hidden;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 10px;
        text-align: center;
    }

    .os-phrases h2:nth-child(3) > span > span > span {
        font-size: 20vw;
    }

    .os-phrases h2 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .os-phrases h2 > span {
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .os-phrases h2 > span {
        margin: 0 5vh;
    }

    .coll {
        background: rgba(255, 255, 255, 0.7);
        padding: 2% 40vw;
        max-height: 90vh;
        max-width: 90vw;
        overflow-y: scroll;

        box-shadow: 0px 2px 5px #444444;
    }

    .coll2 {
        background: rgba(255, 255, 255, 0.7);
        padding: 2% 5%;
        max-height: 90vh;
        max-width: 90vw;
        overflow-y: scroll;

        box-shadow: 0px 2px 5px #444444;
    }

    .coll3 {
        background: rgba(255, 255, 255, 0.7);
        padding: 2% 5%;
        max-height: 90vh;
        max-width: 90vw;
        overflow-y: scroll;

        box-shadow: 0px 2px 5px #444444;
    }

    .spl {
        padding: 2% 5%;
        margin: auto;
        max-height: 90vh;
        max-width: 90vw;
        overflow-y: scroll;
    }

    .spl .coll2 {
        background: transparent;
        box-shadow: none;
    }

    .spl .intro-header-image img {
        width: 80vw;
        height: auto;
        border: solid black 2px;
        float: left;
        margin-right: 2em;
    }

    .spl .intro-name {
        font-size: 2em;
        border-bottom: dotted black 1px;
    }
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff;
}

.nav ul {
    list-style: none;
    display: flex;
    overflow: hidden;
    margin: 0 0 0 -5%;
    padding: 0;
    height: 40vh;
}

.nav li {
    display: flex;
    margin: 0 0;
    align-items: center;
    justify-content: center;
    min-width: 35%;
    background-size: cover;
    transition: all 0.3s;
}

.nav a {
    color: #454547;
    display: block;
    padding-top: 30%;
    font-size: 32px;
    text-decoration: none;
    transition: all 0.3s;
}

.nav li:hover {
    box-shadow: 0px 20px 150px #444444;
}

.nav span {
    display: block;
}

.be {
    position: relative;
    overflow: hidden;
}

.be img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
}

.be .list {
    height:100%;
    padding:0;
    list-style: none;
}

.be .list li {
    height:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

.be .list .elex {
    background: #C61800;
}

.be .list .prod {
    background: #1851CE;
}

.be .list .it {
    background: #FFCF00;
}

.be .list .comps {
    background: #31B639;
}

.acheivements, .hall, .hall2{
    height:95vh;
    overflow: scroll;
}

.acheivement {
    background: #FF3333;
    padding: 10px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 10px;
    color: black;
    border-radius: 4px;
    display: block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

hr{
    color: black;
    background-color: black;
    border-color: black;
}

.fame-item{
    background: goldenrod;
    padding: 10px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 10px;
    color: black;
    border-radius: 4px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.ac .head {
    font-weight: bold;
}

.ac .sub{
}

.ac .top {
    text-rendering: optimizeLegibility;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    margin: auto;
}

.recruters {
    width: 1200px;
    margin: 0 auto;
}

.recruterList {
    list-style: none;
    padding: 0;
    -moz-column-count: 6;
    -moz-column-gap: 0px;
    -webkit-column-count: 6;
    -webkit-column-gap: 0px;
    column-count: 6;
    column-gap: 0px;
    width: 1200px;
}

.recruterList img {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}

.pstats .top {
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: "Lato", sans-serif;
}

.pstats .head {
    text-align: center;
    font-style: italic;
    width: 60%;
    margin: auto;
    color: #67919c;
    border-top: 1px solid #3e585f;
    border-bottom: 1px solid #2C3E50;
}

.pstats .recruters .partners {
    text-align: center;
    font-size: 2em;
    color: white;
    margin: 0.5em;
}

@media all and (min-width: 690px) {
    .nav li {
        margin: 0;
        transform: skewX(-10deg);
    }

    .nav a {
        padding: 30% 20px;
        color: #454547;
        background-color: transparent;
    }

    .nav a:hover {
        color: #fff;
    }

    .nav span {
        transform: skewX(10deg);
    }
}

ul{
    padding: -20px;
}